name: Create Release Branch
on:
  workflow_dispatch:
    inputs:
      versionName:
        description: 'Version name (ex: 8.7.42)'
        required: true
      versionCode:
        description: 'Version code (ex: 250000394)'
        required: true
jobs:
  create_release:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Create release branch
        run: git checkout -b release/v${{ github.event.inputs.versionName }}

      - name: Initialize mandatory git config
        run: |
          git config user.name "GitHub Actions"
          git config user.email noreply@github.com

      - name: Push new branch
        run: git push origin release/v${{ github.event.inputs.versionName }}

      - name: Create pull request to master
        uses: thomaseizinger/create-pull-request@1.0.0
        with:
          head: release/v${{ github.event.inputs.versionName }}
          base: master
          title: Release v${{ github.event.inputs.versionName }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          body: |
            Olá!
            Esta PR foi criada usando o GitHub Actions.
            `version_name` e `version_code` forão atualizadas no commit: ${{ steps.make-commit.outputs.commit }}.
